@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

body {
	background: #003263;
	
}

main {
	
	p{
		color: white;
		padding: 1em;
	}
	
	
	video{
		margin: 1em auto;
	}
	
	}
	
	.images{
		.container-fluid{
			//color: black;
			.row {
				margin: auto;
				
				.card{
					margin: 1em 0;
				}
			}
		}
	}

.back-top {
	margin: 1em auto;
	
	a{
		float: right;
		color: black;
	}
}
.jumbotron {
	margin: auto;
	text-align: center;
	width: 100%;
	
	.container {
		h1{
			//color: black;
		}
		
	}
}

h1 {
	font-family: 'Montserrat', sans-serif;
}


.card{
     position: relative;
	width: 100%;
	bottom: 0;/* Footer height */
}

.col-md-4 {
	.card-body
	{
		p{
			color: black;
		}
	}
	
}
